@import '../../DefConsts.scss';


.Poster {

    height: 70%;
    width:60%;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-self: center;
}

.loading {
    text-align: center;
}

.Details {
    height: 100vh;
    width: 100vw;
}

.AllDetails {

    padding: 93px;
    display: flex;
    background-color: var(--background-main-color);

    p {
        margin: 60px 10px 60px 0;
        text-align: justify;
        padding: 12% 0 0 0;
        color: var(--text-color);
    }
}

.title {
    font-size: 20px;
    background-color: black;
    width: 40%;
    color: white;
    text-align: center;
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 600px;
  }