.Details {
    padding: 20px;
    min-height: 500px;
    color: #fff;
    background: #e7e7e7;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.loading {
    text-align: center;
}

.title {
    font-size: 20px;
    background-color: black;
    width: 40%;
    color: white;
    text-align: center;
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 600px;


  }