@import '../DefConsts.scss';

.list {
    text-align: center;
    display: block;
    background-color: var(--background-main-color);
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    width: 500px;
    color: var(--content-text-color);

    &:hover {
        cursor: pointer;
        background-color: var(rgb(231, 231, 231));
    }
}

.all {
    text-align: center;
    padding: 30px;
    background-color: var(--background-main-color);
    
}