@import '../../../DefConsts.scss';

.Container {
    position: relative;
    border: 1px solid transparent;

    label {
        border: 1px solid transparent;
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 15px;
        color: black;
        pointer-events: none;
        transition: .5s ease-in-out;
        background-color: var(--content-background-color);
        


    }

    .LabelOnFocus {
        top: -5px;
        font-size: 12px;
    }
 
    input {
        border: 2px solid white;
        padding: 0 0 0 7px;
        width: 250px;
        text-align: left;
        height: 30px;
        background-color: var(--content-background-color);
        border-radius: 5px;
        margin:3px;
        outline: none;
    }
        
    .InputOnFocus {
        border-color: black;
    }

}