@import '../../DefConsts.scss';

.Footer {
    height: 100%;
    width: 100%;
    background-color: var(--main-color) ;
    display: flex;
    flex-direction: row;
    
    h1 {
        margin: 0;
        padding: 90px 1% 110px 25%;
        font-size: 60px;
        text-align: center;
        justify-self: center;
    }
}

.Container {
    display: flex;
    flex-direction: row;
    margin: 20px 0 50px 1%; 
}

.Section {
    margin: 0 40% 0 40%;
}


