@import '../../DefConsts.scss';

.Container {
    width: 100%;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    top:200px;
    left:0;

    .Inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--background-main-color);
        border-radius: 5px;
        width:300px;
        height: 300px;

        input {
            width: 250px;
            text-align: center;
            height: 30px;
            border: none;
            color: var(--content-text-color);
            border-radius: 5px;
            margin:3px;
        }
    
        button {
           width: 250px;
           border: none;
           color: var(--content-text-color);
           background-color: var(--content-background-color);
           border-radius: 5px;
           margin:3px;
    
           &:hover {
               color: var(--hover-color);
               background-color: var(--content-hover-color);
               box-shadow: 1px 1px 1px black;
           }
        }

        h1 {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            text-decoration: none;
            color: var(--text-color);
        }
    }
}