@import '../../../DefConsts.scss';


.Container {
    width:100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-main-color);

    .Choices {
        display: flex;
        justify-content: space-between;
        margin: 0 20% 0 20%;

        h1:hover {
            cursor: pointer;
        }

    }

    .Items {
        animation-name: intro;
        animation-duration: 2s;
        transform: translate(0, 20px);
        opacity:0px;
        width:100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        @keyframes intro {
            0% {
                transform: translate(0, 0); opacity: 0;;    
              }
              100% {
                transform: translate(0, 20); opacity: 100;
              }           
        }
    }
        
    .Item {
        background-size: 105%;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 250px;
        margin: 0 3px 0 3px;
        overflow: hidden;
        transition: 0.5s;
        border: 1px solid transparent;
        border-radius: 3px;
        margin:5px;

        &:hover {
            cursor: pointer;
            background-size: 130%;
            box-shadow: 2px 2px 2px black;
        }   
    }
}



