@import '../../../DefConsts.scss';


.Container {
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;
    background-color: var(--background-main-color);
}

.Item {
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 90%;
    margin: 0 3px 0 3px;
    overflow: hidden;
    transition: 0.5s;
    filter: grayscale(100%);
    &:hover {
        background-position: bottom;
        cursor: pointer;
        //spytać sie jak przyblizyć

        filter: grayscale(0%);
    }

   
    
}