:root {
    --main-color:rgb(43, 43, 43);
    --text-color: rgb(163, 162, 162);
    --hover-color: rgb(231, 231, 231);
    --background-main-color: rgb(73, 73, 73);
    --content-background-color: rgb(163, 162, 162);
    --content-text-color: rgb(43, 43, 43);
    --content-hover-color: rgb(231, 231, 231);
}