@import './DefConsts.scss'; 

$desktop: 1382px !default;
$phone: 768px !default;



@mixin font-body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@mixin font-on-hover {
    color: var(--hover-color);
}